.App {
  text-align: center;
}

/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* to set root to 10px */
  font-size: 62.5%;
}

:root {
  --v1: rgb(64, 112, 253);
  --bg-grey-1: #f0f0f0;
  --warning:#e34009;
  --wsGreen:#b2f0e5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.w-100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.h-5rem {
  height: 5rem;
}

.h-7rem {
  height: 7rem;
}

.bg-color-green {
  background-color: var(--wsGreen);
}

.bg-color-grey-1 {
  background-color: var(--bg-grey-1);
}

.bg-color-fff {
  background-color: #fff;
}

.d-flex {
  display: flex;
}

.d-flex-dir-column {
  flex-direction: column;
}

.d-flex-space-between {
  justify-content: space-between;
}

.d-flex-align-items-cent {
  align-items: center;
}

.d-flex-just-cont-cent {
  justify-content: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-0-5 {
  gap: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-0-5 {
  padding: 0.5rem;
}

.f-20 {
  font-size: 20px;
}

.f-14 {
  font-size: 14px;
}

.f-12 {
  font-size: 12px;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.flex-basis-20 {
  flex-basis: 20px;
}

.flex-basis-100 {
  flex-basis: 100px;
}

.flex-basis-150 {
  flex-basis: 150px;
}

.flex-basis-200 {
  flex-basis: 200px;
}

.flex-basis-300 {
  flex-basis: 300px;
}

.flex-basis-400 {
  flex-basis: 400px;
}

.flex-basis-1200 {
  flex-basis: 1200px;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.shadow-2-5 {
  box-shadow: 0 0 2.5px grey;
}
.rad-3-all {
  border-radius: 3px;
}

.rad-3-up {
  border-radius: 3px 3px 0 0;
}

.rad-8-all {
  border-radius: 8px;
}

.weight-600 {
  font-weight: 600;
}

.cursor {
  cursor: pointer;
}

.t-right {
  text-align: right;
}
.t-left {
  text-align: left;
}

.border-pri {
  border: 1px solid rgb(190, 190, 190);
}



.border-v1 {
  border: 1px solid var(--v1);
}


.border-v2 {
  border: 1px solid rgb(226, 226, 226);
}

.color-v1 {
  color: var(--v1);
}


.min-width-150{
  min-width: 150px;
}

/* ///// */

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  /* padding: 5px; */
  border-radius: 5px;
  background: white;
}




.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}
